body,
header,
section,
summary,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
article,
aside,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 150vh;
}

.torre {
    position: relative;
    left: 50%;
    transform: translateX(-59%);
    height: 160px;
    margin: 0.5rem;
    width: 90px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}

.titulo {
    position: absolute;
    left: 50%;
    font-size: 12px;
    padding-top: 20px;
    transform: translateX(-50%);
    width: 85%;
    font-family: 'Noto Sans JP', sans-serif;
}

.titulo h1 {
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Limelight', cursive;
}

.content {
    display: flex;
    flex-direction: column;
}

.caixa-torre {
    text-align: center;
    position: relative;
    top: 140px;
}

.caixa-torre h3 {
    font-family: 'Sigmar One', cursive;
    font-weight: normal;
    position: relative;
    top: -15px;
}

.vareta {
    background-color: black;
    width: 15px;
    height: 144px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
}

.bloco {
    height: 25px;
    border-radius: 5px;
    border: 2px solid black;
}

.bloco1 {
    width: 100%;
    background-color: tomato;
}

.bloco2 {
    width: 80%;
    background-color: violet;
}

.bloco3 {
    width: 60%;
    background-color: yellowgreen;
}

.bloco4 {
    width: 40%;
    background-color: teal;
}

.frase-estilo {
    color: orange;
    font-weight: bold;
    position: absolute;
    bottom: -228px;
    font-size: 23px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    top: 142%;
}

.paragraph {
    position: absolute;
    bottom: 130px;
    text-align: center;
    margin: auto 0;
    width: fit-content;
    align-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: 200%;
}

@media screen and (min-width: 1024px) {
    body {
        height: 100vh;
    }
    .content {
        flex-direction: row;
        justify-content: center;
    }
    p {
        font-size: 15px;
        text-align: center;
    }
    .torre {
        height: 200px;
        width: 120px;
        transform: translateX(-57%);
    }
    .vareta {
        top: 64px;
    }
    .frase-estilo {
        font-size: 25px;
        font-size: 55px;
        bottom: 50px;
        top: 100px;
    }
    .paragraph {
        top: 70%;
    }
}